<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Maker</title>
    <link rel="stylesheet" href="/static/css/style.css"> 
</head>
<body>
    <div class="page_container">
        <nav>
            {% include 'nav.html' %}
        </nav>
        <div class="page_content">
            <main>
                {% block content %}{% endblock %} <!-- content of the page; loads templates -->
            </main>
        </div>
    </div>
    <footer>
        {% include 'footer.html' %}
    </footer>
</body>
</html>